{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Stmt1507727672000",
            "Effect": "Allow",
            "Action": [
                "elasticmapreduce:AddJobFlowSteps",
                "elasticmapreduce:DescribeStep",
                "elasticmapreduce:ListSteps",
                "elasticmapreduce:CancelSteps"
            ],
            "Resource": [
                "*"
            ]
        }
    ]
}
